h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2 font-bold text-primary-500;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

p {
  @apply mb-6;
}

ul,
ol {
  @apply mb-6 list-inside;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

blockquote {
  @apply mb-6 border-l-3 border-primary-500 bg-primary-500/20 py-3 pl-3 dark:bg-background-400;
}

blockquote p {
  @apply mb-0;
}

a {
  @apply text-primary-500 underline;
}
